<!DOCTYPE HTML>
<!--
	Telephasic by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Telephasic by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/profile.css">
		<script src="https://kit.fontawesome.com/f9b37ef16f.js" crossorigin="anonymous"></script>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="wholeHeader">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="/indexAcc"> <img src="img/ab.png" alt=""> </a></h1>

						<!-- Nav -->
						<nav id="nav">
							<ul>
								<li>
									<a href="/indexAcc">Get Parts</a>
									<!-- <ul>
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
										<li>
											<a href="#">Phasellus consequat</a>
											<ul>
												<li><a href="#">Lorem ipsum dolor</a></li>
												<li><a href="#">Phasellus consequat</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul> -->
								</li>
								<li><a href="/builds">Builds</a></li>
								<li class="break"><a href="/profile">Profile</a></li>
								<li><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>

							</ul>
						</nav>

					</div>

					<!-- Hero -->
						<section id="hero" class="container">
							<header>
								<h2>Welcome to your Profile, <%=userName%></h2>
							</header>
							<p>Your posts and your likes will live here</p>
							<!-- <ul class="actions">
								<li><a href="#" class="button">$400</a></li>
								<li><a href="#" class="button">$500</a></li>
								<li><a href="#" class="button">$600</a></li>
								<li><a href="#" class="button">$700</a></li>
								<li><a href="#" class="button">$800</a></li>
								<li><a href="#" class="button">$900</a></li>
								<li><a href="#" class="button">$1000</a></li>
								<li><a href="#" class="button">$1100</a></li>
								<li><a href="#" class="button">$1200</a></li>
								<li><a href="#" class="button">$1300</a></li>
							</ul> -->
						</section>

				</div>
				<!-- <section class="info"> -->
					<!-- <form class="" action="index.html" method="post">
						<select class="" name="">

							<input type="text" name="" value="">
						</select>
						</select>
					</form>
					<form class="" action="index.html" method="post">

					</form> -->
				<!-- </section> -->
			<!-- Features 1 -->
				<div class="wrapper">
					<div class="container">
						<div id="profileFirstId" class="row">
							<section id="profileSection">
								<button class="posts" ><h2>Posts</h2></button>
								<button class="saved" ><h2>Saved builds</h2></button>
								<form action="/logout" method="GET">
									<button class="logout" ><h2>Logout</h2></button>
								</form>
								
									<button class="editProfile" ><h2>Edit profile</h2></button>
								

							</section>
							<section id="profileFeed" >
								<ul id="myPosts" >
									<% for(var i=0; i<userPost.length; i++) {%>
									<li class='post' >
										
										<div><a href="/post?id=<%=userPost[i]._id%>"><img src="uploads/<%=userPost[i].userIMG.filename%>" alt=""></a></div>
										<div>
										<h2 name="caption"><%=userPost[i].caption %></h2>
										
										<i class="fas fa-trash"></i>
									</div>
									</li>
									<% } %>
								</ul>
								<ul id="savedBuilds" class="inactive">	
									<% for(var i=0; i<likedPost.length; i++) {%>
									<li class='post' >
										<div><a href="/post?id=<%=likedPost[i]._id%>"><img src="uploads/<%=likedPost[i].userIMG.filename%>" alt=""></a></div>
										<div>
										<h2 name="caption"><%=likedPost[i].caption %></h2>
										
									</div>
									</li>
									<% } %>


								</ul>
								<ul id="editProfile" class="inactive">	
									<h1>Edit your Profile</h1>
									<li class='post' >
										<form action="">
											<input type="text">
										</form>
									</li>
								


								</ul>
							</section>
							<!-- <section id>


							</section> -->
							<!-- <section id="gpuOne" > -->
								<!-- <div >
									<a href="#" class="image featured first"><img src="img/pixel.png" alt="" /></a>
								</div>
								<header>
									<h2>Motherboard</h2> <h3>Asrock joe momma</h3>
								</header>
								<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel
								sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed
								adipiscing elit. Curabitur vel sem sit.</p>
								<ul class="actions">
									<li><a href="#" class="button">Purchase Now</a></li>
								</ul>
							</section>
							<section >
								<div >
									<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
								</div>
								<header>
									<h2>CPU</h2>
								</header>
								<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel
								sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed
								adipiscing elit. Curabitur vel sem sit.</p>
								<ul class="actions">
									<li><a href="#" class="button">Elevate my awareness</a></li>
								</ul>
							</section>
							<section id="gpuTwo" >
								<div >
									<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
								</div>
								<header>
									<h2>Graphics Card</h2>
								</header>
								<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel
								sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed
								adipiscing elit. Curabitur vel sem sit.</p>
								<ul class="actions">
									<li><a href="#" class="button">Elevate my awareness</a></li>
								</ul>
							</section>
							<section >
								<div >
									<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
								</div>
								<header>
									<h2>RAM</h2>
								</header>
								<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel
								sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed
								adipiscing elit. Curabitur vel sem sit.</p>
								<ul class="actions">
									<li><a href="#" class="button">Elevate my awareness</a></li>
								</ul>
							</section>
							<section id="gpuThree" >
								<div >
									<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
								</div>
								<header>
									<h2>Storage</h2>
								</header>
								<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel
								sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed
								adipiscing elit. Curabitur vel sem sit.</p>
								<ul class="actions">
									<li><a href="#" class="button">Elevate my awareness</a></li>
								</ul>
							</section>
							<section >
								<div >
									<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
								</div>
								<header>
									<h2>Power Supply</h2>
								</header>
								<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel
								sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed
								adipiscing elit. Curabitur vel sem sit.</p>
								<ul class="actions">
									<li><a href="#" class="button">Elevate my awareness</a></li>
								</ul>
							</section>
							<section id="gpuFour" >
								<div >
									<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
								</div>
								<header>
									<h2>Case</h2>
								</header>
								<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel
								sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed
								adipiscing elit. Curabitur vel sem sit.</p>
								<ul class="actions">
									<li><a href="#" class="button">Elevate my awareness</a></li>
								</ul>
							</section>
							<section >
								<div >
									<a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
								</div>
								<header>
									<h2>CPU Cooler</h2>
								</header>
								<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel
								sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed
								adipiscing elit. Curabitur vel sem sit.</p>
								<ul class="actions">
									<li><a href="#" class="button">Elevate my awareness</a></li>
								</ul>
							</section>
						</div> -->
					</div>
				</div>

			<!-- Promo -->
			<div id="promo-wrapper">
				<section id="promo">
					<h2>Sign in and check out other people's builds and post your own!</h2>
					<a href="/builds" class="button">Login</a>
				</section>
			</div>

			<!-- Features 2 -->
				<!-- <div class="wrapper">
					<section class="container">
						<header class="major">
							<h2>Sed magna consequat lorem curabitur tempus</h2>
							<p>Elit aliquam vulputate egestas euismod nunc semper vehicula lorem blandit</p>
						</header>
						<div class="row features">
							<section class="col-4 col-12-narrower feature">
								<div class="image-wrapper first">
									<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
								</div>
								<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
								vel sem sit dolor neque semper magna lorem ipsum.</p>
							</section>
							<section class="col-4 col-12-narrower feature">
								<div class="image-wrapper">
									<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
								</div>
								<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
								vel sem sit dolor neque semper magna lorem ipsum.</p>
							</section>
							<section class="col-4 col-12-narrower feature">
								<div class="image-wrapper">
									<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
								</div>
								<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur
								vel sem sit dolor neque semper magna lorem ipsum.</p>
							</section>
						</div>
						<ul class="actions major">
							<li><a href="#" class="button">Elevate my awareness</a></li>
						</ul>
					</section>
				</div> -->

			<!-- Footer -->
			<div id="footer-wrapper">
				<div id="footer" class="container">
					<header class="major">
						<h2>Leave me a message! </h2>
						<p>Intrested to know more? I'd love to talk more about computers or how I built this website. </p>
					</header>
					<div class="row">
						<section class="col-6 col-12-narrower">
							<form method="post" action="#">
								<div class="row gtr-50">
									<div class="col-6 col-12-mobile">
										<input name="name" placeholder="Name" type="text" />
									</div>
									<div class="col-6 col-12-mobile">
										<input name="email" placeholder="Email" type="text" />
									</div>
									<div class="col-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" value="Send Message" /></li>
											<li><input type="reset" value="Clear form" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
						<!-- <section class="col-6 col-12-narrower">
							<div class="row gtr-0">
								<ul class="divided icons col-6 col-12-mobile">
									<li class="icon brands fa-twitter"><a href="#"><span class="extra">twitter.com/</span>untitled</a></li>
									<li class="icon brands fa-facebook-f"><a href="#"><span class="extra">facebook.com/</span>untitled</a></li>
									<li class="icon brands fa-dribbble"><a href="#"><span class="extra">dribbble.com/</span>untitled</a></li>
								</ul>
								<ul class="divided icons col-6 col-12-mobile">
									<li class="icon brands fa-instagram"><a href="#"><span class="extra">instagram.com/</span>untitled</a></li>
									<li class="icon brands fa-youtube"><a href="#"><span class="extra">youtube.com/</span>untitled</a></li>
									<li class="icon brands fa-pinterest"><a href="#"><span class="extra">pinterest.com/</span>untitled</a></li>
								</ul>
							</div>
						</section> -->
					</div>
				</div>
				<div id="copyright" class="container">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="main.js"></script>

	</body>
</html>
